html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

@media screen and (min-width: 500px) {   
    img{
        width: 49%;
    }
}


@media screen and (min-width: 900px) {   
    img{
        width: 24%;
    }
}